{% extends 'base.html.twig' %}

{% block title %}Edit Itineraire{% endblock %}

{% block body %}
<div class="main">
    <div class="form-new-user">
        <h1>Modifier l'itinéraire</h1>

        {{ form_start(form) }}
            {{ form_row(form.titre) }}
            {{ form_row(form.destination) }}
            <button class="btn">{{ button_label|default('Modifier') }}</button>
        {{ form_end(form) }}

        {{ include('itineraire/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
