{% extends 'base.html.twig' %}

{% block title %}Itineraire index{% endblock %}

{% block body %}
    <h1>Itineraire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Destination</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for itineraire in itineraires %}
            <tr>
                <td>{{ itineraire.id }}</td>
                <td>{{ itineraire.titre }}</td>
                <td>{{ itineraire.destination }}</td>
                <td>{{ itineraire.createdAt ? itineraire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_itineraire_show', {'id': itineraire.id}) }}">show</a>
                    <a href="{{ path('app_itineraire_edit', {'id': itineraire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_itineraire_new') }}">Create new</a>
{% endblock %}
